<h1>Event feed</h1>
<% @comments.each do |comment| %>
<ul>
  <li><p><%= comment.user.username %>
         <%= comment.content %>
         <%= time_ago_in_words(comment.created_at) %></p></li>
</ul>
<% end %>

<%= simple_form_for [@event,@comment] do |f| %>
<%= f.text_field :content %>
<%= f.submit 'Post Comment' %>
<% end %>
