<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to user_path do %>
      <button class="button-image-back button-image-back-alt"><i class="fas fa-angle-left"></i></button>
      <% end %>
      <div class="header-follow">
        <h3 class="text-center"><%= @user.username.humanize %>'s Followers</h3>
      </div>
      <% @followers.each do |f| %>

      <div class="follow-entire-box">
        <div class="photo-follow">
          <%= cl_image_tag f.profile_photo , class: "avatar" %>
          <%= link_to "#{f.username}", user_path(f)%>
        </div>
        <div class="position-fixed-button" data-following="<%=f.username%>">
          <% if current_user.following?(f) %>
          <%= render "shared/unfollow", follower: f %>
          <% else %>
          <%= render "shared/follow", following: f %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
