<div
id="map2"
style="width: 100%;
height: 60vh;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
<%= link_to root_path do %>
<button class="button-image-back button-image-back-alt"><i class="fas fa-angle-left"></i></button>
<% end %>


<% if current_user.id != @user.id %>
<% if current_user.following?(@user) %>
<div data-following="<%=@user.username%>">
  <%= link_to "Unfollow", unfollow_user_path(@user), method: 'delete', class: "follow-button" , remote: true%>
</div>
<% else %>
<div data-following="<%=@user.username%>">
<%= link_to "Follow", follow_user_path(@user), method: 'post', class: "follow-button", remote: true%>
</div>
<% end %>
<% else %>
<%= link_to "Edit", edit_user_registration_path(current_user), class: "follow-button" %>
<% end %>

</div>
<div class="container">
  <div class="user-info">
    <div class="photo-username">
      <%= cl_image_tag @user.profile_photo, height: 150, class: "avatar-show" %>
      <h1><%= @user.username %></h1>
    </div>
    <div class="followers-following">
      <div class="following">
        <p class="follow-heading"><%= link_to "Following", following_user_path(@user)%></p>
        <span><%= @user.following.count %></span>
      </div>
      <div>
        <p class="follow-heading"><%= link_to "Followers", followers_user_path(@user)%></p>
        <span><%= @user.followers.count %></span>
      </div>
    </div>
  </div>
  <div class="scroll-">
    <% @events.each do |event| %>
      <input type="hidden" value="<%= event.latitude %>" >
      <input type="hidden" value="<%= event.longitude %>">
      <% if event.end_time > Time.now %>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-2" >
            <div class="event-list">
              <h2 data-latitude="<%= event.latitude %>" data-longitude="<%= event.longitude.to_s %>" class="user-show-event-title see-last-event">
                <%= event.title.capitalize %>
                <small><%= link_to "active", terminate_event_path(event.id), method: "patch", class: "text-success" %></small>
              </h2>
              <div class="event-info">
                <% seconds = ( event.end_time - Time.now) %>
                <span data-end_time="<%= event.end_time %>" class="ended-time-js">
                  <%= Time.at(seconds).utc.strftime("%H:%M:%S") %>
                </span>
                <%= link_to user_event_path(event.user_id, event.id), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="event-list ">
              <h2 data-latitude="<%= event.latitude %>" data-longitude="<%= event.longitude %>" class="user-show-event-title" class="see-last-event">
                <%= event.title.capitalize %>
                <small class="text-secondary">Ended</small>
              </h2>
              <div class="event-info">
                   <span class="ended-time" data-ended_time="<%= event.end_time %>"><%= event.end_time %></span>
                <%= link_to user_event_path(event.user_id, event.id), method: :delete do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
            </div>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
