<h1><%= @user.email %></h1>
<p>profile picture testing...</p>
<h2> <%= cl_image_tag @user.profile_photo, height: 300 %></h2>

<p>Following :<%= @user.following.count %></p>     <%= link_to "Following", following_user_path(@user) %>
<p>Followers: <%= @user.followers.count %></p> <%= link_to "Followers", followers_user_path(@user) %>

<br>


<div>
    <% if current_user.id != @user.id %>
    <%# buttton to show follow %>
    <% if current_user.following?(@user) %>
      <%= link_to "unfollow", unfollow_user_path(@user), method: 'delete'%>
      <% else %>
      <%= link_to "follow", follow_user_path(@user), method: 'post'%>
    <% end %>
    <% else %>
    <%= link_to "Edit", edit_user_registration_path(current_user) %>
  <% end %>
</div>




<% @events.each do |event| %>
  <% if event.end_time > Time.now %>
    <ul>
      <li><%= event.title %> <%= event.end_time %></li>
      <%= link_to "delete", user_event_path(event.user_id, event.id), method: :delete %>
      event active
      <li><%= link_to "end event", terminate_event_path(event.id), method: "patch" %></li>
    </ul>
    <% else %>
      <ul>
        <li><%= event.title %> <%= event.created_at %></li>
        <%= link_to "delete", user_event_path(event.user_id, event.id), method: :delete %>
        <li>
        <%= link_to "Comments Section", event_comments_path(event)%>
        </li>
    </ul>
  <% end %>
<% end %>



