<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">


  <div>

    <ul class="navbar-nav ">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.profile_photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">

            <%= link_to "Settings", user_path(current_user), class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if user_signed_in? %>
      <%= form_tag events_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
          placeholder: "SEARCH EVENT OR @USER" %>
          <i class="fas fa-search-location lupa"></i>
      <% end %>

        <div class="users" style="position: absolute; top: 60px; z-index: 9999999999999">
          <ul class="list-group" id="api-results">

          </ul>
        </div>
  <% end %>
</div>
