<%# user must be able to click on each map marker to pop up a event %>
 <%# calculcate rundown_time with javascript https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/, the end time will be event.end_time %>
<% @events.each do |e| %>
  <%# if the event is expired, it willl not show in the map %>
    <%= e.description %>
    <%= e.title %>
    <%# each event must have a list of all their comments %>
    
    <%# e.comments.each do |comment|  %>
    <%# comment.content %>
      <%# <% end %>
    
    <%# remember, @events is a array of all the events, and .comments will return an array of all the comments %>
    <%# we must show the count of comments %>
    <%= e.comments.count %>     <p>:comments</p>

    <br>
    <% end %>


<br>
<br>


<%= simple_form_for(@event) do |f| %>
<%= f.label :title %>
<%= f.text_field :title  %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.input :end_time, collection: 1..24 %>

<%= f.submit %>

<% end %>
