
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>

</div>


<%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search",
        placeholder: "Search by event or username" %>
      <% end %>


<% @events.each do |e| %>
    <% if e.end_time > Time.now %>
    <%= e.description %>
    <%= e.title %>
    <%= link_to "Comment Section", event_comments_path(e) %>
    <%# <%= cl_image_tag e.picture, height: 300%> %>
    <br>
    <% seconds = ( Time.parse(e.end_time) - Time.now) %>
  time before expires: <%= Time.at(seconds).utc.strftime("%H:%M:%S") %>

 <%# if current_user = e.user_id %>
<% if current_user.id == e.user_id || current_user.admin %>
<%= link_to "delete me", event_path(e), method: :delete %>
<% end %>

    <%# calculcate rundown_time with javascript https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/, the end time will be event.end_time %>
    <br>

    <%= e.comments.count %> comments

    <% end %>

    <br>
    <% end %>

<br>
<br>

<div class="new-event-form">

  <%= simple_form_for(@event) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title  %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.input :latitude, as: :hidden, input_html: { id: 'lat', value: f.object.latitude || '12.4326'  } %>
    <%= f.input :longitude, as: :hidden, input_html: { id: 'lon', value: f.object.longitude || '91.1332'    } %>
    <%= f.input :picture %>
    <%= f.input :picture_cache, as: :hidden %>
    <%= f.input :end_time, collection: 1..24 %>

  <% end %>

    <button id='make-event'>Create Event</button>
</div>
