 <%= render 'shared/navbar' %>
<!-- BUTTON MODAL -->
<button type="button" class="btn button-marker-map" data-toggle="modal" data-target="#exampleModal">
  <i class="fas fa-map-marker"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog slideInUp animated" role="document">
    <div class="modal-content css-modal-content">
      <div class="modal-header">
        <h5 class="modal-title event-title" id="exampleModalLabel">Create an event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container container-form">
          <div class="row">
            <div class="col-sm-12">
              <%= simple_form_for(@event) do |f| %>
              <div class="form-inputs">
                <%= f.input :title,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "title" },
                placeholder: "Your event title" %>
                <%= f.input :description,
                required: true, as: :numeric,
                input_html: { autocomplete: "description" },
                placeholder: "Description of your event"%>
                <%= f.input :latitude, as: :hidden, input_html: { id: 'lat', value: f.object.latitude } %>
                <%= f.input :longitude, as: :hidden, input_html: { id: 'lon', value: f.object.longitude } %>
                <%= f.input :end_time, label: 'Duration of event',
                required: true,
                input_html: { autocomplete: "" },
                placeholder: "From 1hr to 24 hrs", as: :numeric%>
                <%= f.input :picture, as: :file, label: "Upload photo"%>
                <%= f.input :picture_cache, as: :hidden %>
              </div>
              <div class="form-actions">
              <% end %>
              <button id='make-event' class="form-button">Create Event</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>



<div style="display: none;">
  <%= render 'event-popup' %>
</div>
