<h1><%= @event.title %></h1>
<h3>Host: <%= @event.user.username %></h3>
<%= @event.title %>
<%= @event.description %>
<% seconds = ( Time.parse(@event.end_time) - Time.now) %>
<%= Time.at(seconds).utc.strftime("%H:%M:%S") %>

<%= link_to "Comments (#{@event.comments.count})", event_comments_path(@event) %>

